# check spelling using spelling::spell_check_package()
on:
 workflow_call:
  inputs:
    spell_check_additional_files:
      description: 'If true, run an additional spell check on files with specific extensions (e.g., .cpp, .hpp, .md, .qmd, .R, .Rmd, .txt, .yml).'
      required: false
      type: boolean
      default: false
    spell_check_report_level:
      description: 'The message level to report if spelling issues are found during the additional spell check.
        Options: "warning" or "error". If "warning", the workflow will not fail.
        If "error", the workflow will fail.'
      required: false
      type: string
      default: 'error'

name: run devtools::spell_check

# no permissions are needed by the default github token for this workflow to 
# run, so don't pass any.
# https://docs.github.com/en/actions/writing-workflows/choosing-what-your-workflow-does/controlling-permissions-for-github_token
permissions: {}

# Cancel runs happening simultaneously on the same branch.
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  spell-check:
    runs-on: ubuntu-latest
    steps:
    
      - uses: actions/checkout@v6

      - uses: r-lib/actions/setup-r@v2

      - name: Install spelling
        run: Rscript -e 'install.packages("spelling")'

      - name: spell check using spelling::spell_check_package()
        run: |
          results <- spelling::spell_check_package()
          if(nrow(results)>0) {
            print(results)
            stop(
              "Spelling errors found.\n", 
              "Need to ignore some words? Read up on using the WORDLIST file:\n",
              "https://docs.ropensci.org/spelling/reference/wordlist.html"
            )
          }
        shell: Rscript {0}
      
      - name: Run additional spell check using spelling::spell_check_files()
        if: ${{ inputs.spell_check_additional_files }}
        run: |
          files <- list.files(
            ".",
            recursive = TRUE,
            full.names = TRUE,
            pattern = "\\.(cpp|hpp|md|qmd|R|Rmd|txt|yml)$",
            ignore.case = TRUE,
            all.files = TRUE
          )
          word_list <- spelling::get_wordlist(".")
          spell_check_results <- spelling::spell_check_files(
            files,
            ignore = word_list
          )

          print(spell_check_results)
          if (nrow(spell_check_results) > 0) {
            message(
              "Spelling errors found in additional files.\n",
              "Need to ignore some words? Read up on using the WORDLIST file:\n",
              "https://docs.ropensci.org/spelling/reference/wordlist.html.\n",
              "Following R code can be used to add words to the WORDLIST file:\n",
              "wordlist_path <- file.path('inst', 'WORDLIST')\n",
              "all_words <- c(word_list, spell_check_results$word)\n",
              "sorted_words <- sort(unique(all_words))\n",
              "writeLines(sorted_words, wordlist_path)"
            )
          }
          writeLines(
            as.character(nrow(spell_check_results)),
            "nrow_results.txt"
          )
        shell: Rscript {0}

      - name: Save nrow_results to GITHUB_OUTPUT
        id: set_output
        if: ${{ inputs.spell_check_additional_files }}
        run: |
          tmp_nrow_results=$(awk '{print int($1)}' nrow_results.txt)
          echo "nrow_results=$tmp_nrow_results" >> $GITHUB_OUTPUT
      
      - name: ⚠️ Report spelling issues as a warning
        if: ${{ (steps.set_output.outputs.nrow_results > 0) && (inputs.spell_check_report_level == 'warning') }}
        run: |
          echo "::warning title=Spelling errors were found::Spelling errors were found in the Run additional spell check using spelling::spell_check_file() step. Need to ignore some words? Read up on using the WORDLIST file: https://docs.ropensci.org/spelling/reference/wordlist.html"

      - name: ❌ Report spelling issues as an error
        if: ${{ (steps.set_output.outputs.nrow_results > 0) && (inputs.spell_check_report_level == 'error') }}
        run: |
          echo "::error title=Spelling errors were found::Spelling errors were found in the Run additional spell check using spelling::spell_check_file() step. Need to ignore some words? Read up on using the WORDLIST file: https://docs.ropensci.org/spelling/reference/wordlist.html"
          exit 1 # This will cause the workflow to fail      